@reference "tailwindcss";

.aboutMeBox {
    /* background-color: bisque; */
    padding: 30px;
    width: 80%;
    min-height: 100vh;
    min-height: 100svh;
    margin-left: auto;
    margin-right: auto;


}

.title {
    font-size: 32px;
    font-weight: bolder;
    color: var(--text);
    line-height: 0px;
}

.title2 {
    font-size: 32px;
    font-weight: bolder;
    color: var(--text-muted);
}

.para {
    font-size: 18px;
    max-width: 300px;
    min-height: 5px;
    color: var(--text-muted);
    margin-top: 20px;
    line-height: 20px;

}

.sign {
    margin-top: 20px;
    margin-bottom: 20px;
}

.copyright {

    font-weight: bold;
    color: color-mix(in srgb, var(--text-muted) 50%, black);
    line-height: 20px;

}