.mq1 {
  height: fit-content;
  position: relative;

  /* margin-top: 50px; */
  margin-bottom: 10px;
  width: 120%;
  margin-left: -10%;
  margin-right: -10%;

  /* -webkit-mask-image: linear-gradient(to right, transparent 0%, black 50%, black 80%, transparent 100%);
  mask-image: linear-gradient(to right, transparent 0%, black 50%, black 80%, transparent 100%); */

}

.maskLeft {
  position: absolute;
  z-index: 2;
  top: 0;
  background: linear-gradient(270deg, rgba(224, 224, 224, 0) 65%, var(--background) 90%);
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.maskRight {
  background: linear-gradient(90deg, rgba(224, 224, 224, 0) 65%, var(--background) 90%);
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

}

.skilldata {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;

}

.icon {
  margin-right: 10px;

}

.text {
  color: var(--text-muted);

  font-weight: 500;
  font-size: 2rem;
}

.techStack {
  /* background-color: aqua; */
  /* margin-left: 50px; */
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: end;
  /* background-color: blue; */
}

.techStack h1 {

  font-size: 2rem;
  line-height: 1.6rem;
  font-weight: 700;
  margin-right: 8px;
  /* background-color: rgb(51, 87, 87); */
}

.skills {
  /* background-color:red; */
  padding-bottom: 136px;
}