.box {
    color: color-mix(in srgb, var(--background) 90%, var(--text));
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* gap: 0px; */
    border: 2px solid hsla(0, 0%, 0%, 0.40);
    background-color: hsla(0, 0%, 50%, 0.5);
    border-radius: 100px;
    padding: 0px 10px;
    cursor: default;
    font-size: 1rem;
    transition: background-color 0.2s ease-in-out;
}

.box:hover {
    background-color: hsla(0, 0%, 70%, 0.8);
    transition: background-color 0.2s ease-in-out;
}
.img{
    margin-right: 8px;
}