.blogSection {
    /* background-color: rgba(31, 17, 0, 0.34); */
    margin: 0 auto;
    margin-top: 150px;
    max-width: 1000px;
    width: 95%;

}
.moreBlogs{
  /* background-color: aliceblue; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
  font-size: clamp(2.5rem, 5vw, 3.5rem); /* responsive font size */
    line-height: clamp(2.5rem, 5vw, 3.5rem);
    font-weight: 800;
    margin-bottom: 50px;
}

.blogbanner {
    display: flex;
    gap: 20px;

}
.error,
.loading,
.empty {
  background-color: var(--accent);
  padding: 20px;
  max-width: fit-content;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 100px;
  display: flex;
    text-align: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 0 auto;
  margin-top: 10px;
  border: 2.5px dashed black;
}
.error{
  text-align: center;
  background-color: red;
}
.date {
    display: flex;
    gap: 5px;
    color: var(--text-muted);
}

.blog{
    background-color: var(--blogbg);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    height: fit-content;

    width: 50%;
    border-radius: 30px;
    padding: 10px 10px 10px 10px;
    overflow: hidden;
    transform: scale(1);
  border: 1px solid color-mix(in srgb, transparent 80%, var(--text) 20%) ;

    transition: all 0.3s ease-in-out;


}
.blogBox {
  padding: 5px 15px
}

.blog:hover {
  border: 1px solid var(--accent) ;
        box-shadow: 0px 0px 10px color-mix(in srgb, transparent 70%, var(--accent) 40%);

  transform: scale(1.03);

    transition: all 0.3s ease-in-out;

}

.blog img {
    border-radius: 20px;
}

.blogSkeleton {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: var(--blogbg); /* dark placeholder */
    padding: 10px 10px 20px 10px;
  border-radius: 30px;
  animation: pulse 1.5s infinite ease-in-out;
  width: 100%;
}

.imgSkeleton {
  width: 100%;
  height: 150px;
  background: #78787850;
  border-radius: 20px;
}

.titleSkeleton {
  width: 70%;
  height: 20px;
  background: #78787850;
  border-radius: 4px;
}

.dateSkeleton {
  width: 50%;
  height: 14px;
  background: #78787850;
  border-radius: 4px;
}

.descSkeleton {
  width: 90%;
  height: 16px;
  background: #78787850;
  border-radius: 4px;
}

@keyframes pulse {
  0% { opacity: 0.5;filter: blur(2px); }
  50% { opacity: 1; filter: blur(0px);}
  100% { opacity: 0.5;filter: blur(2px); }
}


.blogTitle {
    font-weight: bold;
    font-size: 1.5rem;
}

@media (max-width: 760px) {
    .blogbanner {
        flex-direction: column;
    }

    .blog {
        width: 100%;
    }

    
}