.blogSection {
    /* background-color: rgba(31, 17, 0, 0.34); */
    margin: 0 auto;
    margin-top: 150px;
    max-width: 1000px;
    width: 95%;

}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 800;
    margin-bottom: 50px;
}

.blogbanner {
    display: flex;
    gap: 20px;

}

.date {
    display: flex;
    gap: 5px;
    color: var(--text-muted);
}

.blog {
    background-color: var(--blogbg);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    height: fit-content;
    width: 50%;
    border-radius: 30px;
    padding: 10px 10px 20px 10px;
    overflow: hidden;
    transform: scale(1);

    transition: all 0.3s ease-in-out;


}

.blog:hover {
    box-shadow: none;
    transform: scale(0.98);

    transition: all 0.3s ease-in-out;

}

.blog img {
    -webkit-filter: blur(15px);
    /* For Safari and older Chrome */
    filter: blur(15px);
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.blog:hover img {
    -webkit-filter: blur(0px);
    /* For Safari and older Chrome */
    filter: blur(0px);
    transition: all 0.3s ease-in-out;

}

.blogTitle {
    font-weight: bold;
    font-size: 1.5rem;
}

@media (max-width: 760px) {
    .blogbanner {
        flex-direction: column;
    }

    .blog {
        width: 100%;
    }

    .blog img {
        filter: blur(0);
    }
}