.main {
  /* background-color: aliceblue; */
  position: relative;
  /* margin-top: 50vh; */
}

.projectHead {
  display: flex;
  justify-content: center;
  /* height:3rem; */
  /* background-color: aliceblue; */
  align-items: center;
  font-size: 3.5rem;
  line-height: 3rem;
  /* position: relative; */
  /* background-color: aquamarine; */
  

  font-weight: 800;
  /* color: var(--text-muted); */

}
.projectHead h1{
    margin-bottom: 55px;
  /* background-color: aquamarine; */
  /* position: absolute;
  bottom: 0px; */
}

.moreProject {
  display: flex;
  justify-content: center;
  align-items: center;
}
