.main {
  display: flex;
  flex-direction: column; /* stack vertically */
  align-items: center; /* center items horizontally */
  gap: 3rem; /* space between elements, adjust as needed */
  /* padding: 4rem 1rem; top-bottom padding so head & bottom button don't touch edges */
  width: 100%;
  box-sizing: border-box;
}

.projectHead {
  font-size: clamp(2.5rem, 5vw, 3.5rem); /* responsive font size */
  line-height: clamp(2.5rem, 5vw, 3.5rem);
  font-weight: 800;
  text-align: center;
}

.projectHead h1 {
  margin: 0; /* no extra bottom margin since we use gap in flex */
}

.moreProject {
  z-index:-1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 2rem; extra spacing from last card if needed */
  width: 100%;
}
