.navContainer {
    position: fixed;
    top: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 50;
    pointer-events: none;
    /* optional, lets clicks through the container if needed */
    padding: 0 10px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}


.button {
    /* color: var(--text-muted); */
    font-size: 1rem;
    font-weight: bolder;
    padding: 0.2rem 0.8rem;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    isolation: isolate;
    box-shadow: transparent;
    transform: scale(1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: all 0.3s ease-in-out;


}


.button:hover {
    color: #445b8d;
    font-weight: bolder;
    transform-box: fill-box;
    transform-origin: center;
    transform: scale(1.2);
    box-shadow: var(--navBtn-shadow);
    transition: all 0.3s ease-in-out;
}

.button:active {
    /* background-color: hsla(0, 0%, 50%, 0.5); */
    transform: scale(0.5);
    transition: all 0.3s ease-in-out;
}