.navContainer {
    position: fixed;
    top: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 50;
    pointer-events: none;
    /* optional, lets clicks through the container if needed */
    padding: 0 10px;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 0px;
}


.button {
    font-size: 1rem;
    font-weight: bolder;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    /* background-color: burlywood; */
    cursor: pointer;
    position: relative;
    isolation: isolate;
    transition: all 0.3s ease;

}

