@reference "tailwindcss";

.projectContainer {
    
    border: 2px solid var(--border);
    border-radius: var(--radious);
    width: 80%;
    /* margin-top: 200px; */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
    position: relative;
    height: 500px;
    overflow: hidden;
    background-image: var(--gradient1);



}

.mainHeading {
    padding-top: 20px;
    padding-left: 90px;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 500px;
    /* background-color: rgb(0, 77, 145); */
    /* width: 80%; */
}

.mainHeading h1 {
    font-size: xx-large;
    font-weight: bolder;
    line-height: 16px;
}

.mainHeading p {
    font-size: large;
    color: var(--text-muted);
    margin-top: 10px;
    /* width: 60%; */
}

.card {
    height: fit-content;
    overflow: hidden;
    border: 1px solid var(--border);
    
}

.phead {
    font-weight: 550;
    color: var(--text);
    border-bottom: 1px solid var(--border);
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: var(--gradient2);

}

.pbody {
    padding: 8px;
    background: var(--gradient3);
    height: 100%;
}

.imgwrapper {
    position: relative;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
}

.imgwrapper::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.578), hsla(0, 0%, 0%, 0));
    z-index: 1;
}

.overlayText {
    position: absolute;
    font-size: xx-large;
    top: 80px;
    left: 30px;
    color: white;
    font-weight: bolder;
    z-index: 2;
}

@media (max-width: 1200px) {}

@media (max-width: 900px) {
    .mainHeading {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
        height: auto;
        width: auto;
    }

    .projectContainer {
        height: 600px;
    }
}

@media (max-width: 768px) {

    .mainHeading {
        padding-top: 25px;
        padding-left: 25px;
        padding-right: 25px;

    }
    .projectContainer {
        height: 400px;
    }
   
}
